<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>haysam test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEAA2CEB1E465AD900AA385E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAA2D011E465AD900AA385E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAA2D0C1E465AD900AA385E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
